<%= content_for :header_title do %>

   Acerca de Skynet

<% end %>

<%= content_for :header_sub_title do %>

   ¿Quienes somos?

<% end %>
<style type="text/css">
  p {
    text-align: justify;
  }
  body {background-image: url(/assets/history.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
      }
      input {margin-bottom:10px;}
      p {color: white;}
      h1 {color: white;}
  h2 {color: rgba(171,171,171,0.6);}
</style>
<h2>Nuestra Historia</h2>
<p>Ubicado en el corazón de la ciudad de Lima, Karaoke by Skynet ofrece un salón de fiestas como nunca antes visto. Nos esforzamos por convertirnos en uno de los mejores karaokes bar & lounge de la ciudad.</p>

<p>Si estás buscando el mejor Karaoke Bar en Lima, entonces has venido al lugar correcto. Karaoke by Skynet ofrece suites privadas y servicio VIP de bebidas. Ya sea un evento de cumpleaños, evento corporativo o una fiesta con un grupo grande, nosotros podemos acomodarlos y ofrecerles una gran experiencia en karaoke.</p>

<p>Si es para celebrar su cumpleaños, una fiesta de la oficina de para pasar un buen rato con los amigos, nos esforzamos para ofrecerle el mejor entretenimiento que la ciudad de Lima tiene para ofrecer. Nosotros nos encargaremos de todo mientras usted vive hermosos recuerdos o disfruta de un buen rato con sus amigos, familiares o compañeros de trabajo.</p>

<p>Simplemente háganos saber lo que necesita y haremos todo lo posible para alcanzar satisfacer sus necesidades.</p>

<p>Nuestro karaoke y salón es para adultos de 21 años, debe tener una identificación vigente, DNI o pasaporte.</p>
<br>