<html>
  <head>
    
  </head>
  <body>
    <ul>
    <li><a href="/locals"><b>Mantenimiento de Locales</b></a></li>
    <li>Salas</li> FALTA
    <li>eventos</li> JALAR DE USUARIO 
    <li>reservas</li> JALAR DE USUARIO
    <li><a href="/personals"><b>Mantenimiento de Personal</b></a></li> 
    <li>ventas</li>  ES UN REPORTE (FALTA)
    <li>Productos</li> JALAR DE USUARIO
    </ul>
    
    <h1>ESTE ES UN COMENTARIO</h1>
    <BR>
      SOLO FALTA COLOCAR EL MANTENIMIENTO DE EVENTOS (GENERAL) AQUÍ
      
  </body>
</html>