<h1>Salas Básicas</h1>
<a href="/">Home</a>
<table>
<thead>
<tr>
	<th><img src="/assets/salas_basicas.jpg" alt="Logo">
</th>
</tr>
</thead>
</table>

<table>
<thead>
<tr>
	<th>
	  <style>
  p {font-size: 20px; text-align: justify; margin-top: 20px;}
</style>
	 <p>Nuestra sala básica te permite disfrutar del entretenimiento en familia o con amigos en comodas mesas ubicadas en el centro del Karaoke Bar. Cuenta con servicios a la mesa, diversas opciones gastronómicas y carta de bebidas.</p>
	 </th>
</tr>
</thead>
</table>