<a href="/">Home</a>
  <body background="/assets/FONDO_COMENTARIO.jpg" background-repeat: no-repeat>
    
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content="Pagina Informatica"/>
		<title> DEJANOS TU COMENTARIO </title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css" />
	</head>
<body>
	<header>
		<h1><figcaption><b>Dejenos su Comentario</figcaption></h1>	
		</header>
	<h2><figcaption>Nombre Completo:</figcaption></h2>
	<input type="text" size="45" maxlength="60" name="nombre">
	<h3><figcaption>Correo electrónico:</figcaption></h3>
	<footer>
	<input type="text" size="45" maxlength="60" name="nombre">
	</footer>
	<P>Por favor, introduzca sus comentarios:<BR>
      <TEXTAREA rows="5" cols="30" name="txtsugerencias"></TEXTAREA><BR>
      <INPUT type="hidden" name="identificador" value="Z87X09RF"><BR>
      </P>
	<body>
<form method="get" url="pages_comentario_path">
<input type="submit" value="Enviar" />
</form>
</body>
<body>
<form method="get" url="pages_comentario_path">
<input type="submit" value="Cancelar" />
</form>
</body>
</body>
</html>
