<font size=15 color="black">Dejenos su Comentario</font>
<p aling="right"><a href="/">Inicio</a> </p>
  <body background="/assets/FONDO_COMENTARIO.jpg" background-repeat: no-repeat aling="centre">
    
<html lang="es">
  
<script LANGUAGE="JavaScript">
function mi_alerta () {
    alert ("Mensaje Enviado");
}
</script>
  
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content="Pagina Informatica"/>
	
	<link rel="stylesheet" type="text/css" href="css/estilos.css" />
	</head>

<body>
	<P>Por favor, introduzca sus comentarios:<BR>
      <TEXTAREA rows="5" cols="30" name="txtsugerencias"></TEXTAREA><BR>
      <INPUT type="hidden" name="identificador" value="Z87X09RF"><BR>
      </P>
<body>
	  
<font size=5 color="black" aling="right">CALIFICANOS:</font>

<BR><form>
  <p class="clasificacion">
    <input id="radio1" type="radio" name="estrellas" value="5"><!--
    --><label for="radio1">★</label><!--
    --><input id="radio2" type="radio" name="estrellas" value="4"><!--
    --><label for="radio2">★</label><!--
    --><input id="radio3" type="radio" name="estrellas" value="3"><!--
    --><label for="radio3">★</label><!--
    --><input id="radio4" type="radio" name="estrellas" value="2"><!--
    --><label for="radio4">★</label><!--
    --><input id="radio5" type="radio" name="estrellas" value="1"><!--
    --><label for="radio5">★</label>
  </p>
</form></BR>	  

<form method="pos" url="pages_comentario_path">
<input type="submit" 
name="enviar" 
id="enviar"
value="Enviar"
onClick="mi_alerta()"/>

<input type="submit"
value="Cancelar"/>
</form>
</body>
</body>
</html>
