<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content="Pagina Informatica"/>
		<title> COMPRAS </title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css" />
	</head>
<body>
	<header>
	<h1><figcaption><b>Compra tus Piqueos y Bebidas</h1>
	<div class="field" id="searchform">
  <input type="text" id="searchterm" placeholder="Que quieres buscar?" />
  <button type="button" id="search">Buscar</button>
</div>	
<button>
<b>Comprar</b>
<br>
<button>
<b>Cancelar</b>
<br>

		</header>
</body>
</html>
