<h1>Salas de Baile</h1>
<a href="/">Inicio</a>

<table>
<thead>
<tr>
	<th><img width="100%" src="/assets/dance.jpg" alt="Logo">
</th>
</tr>
</thead>
</table>

<table>
<thead>
<tr>
	<th>
	  <style>
  p {font-size: 20px; text-align: justify; margin-top: 20px;}
</style>
	 <p>Totalmente equipado, y pista de baile, con aforo desde 50 hasta 150 personas, cabina D. J . con la música a tu elección, juego de luces, buen sonido, local de diseño, disponemos de servicio de catering, personal de seguridad, camareros, te podemos asesorar en la organización de la fiesta.</p>
	 </th>
</tr>
</thead>
</table>