<h1>Eventos</h1>
<a href="/">Inicio</a>

<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ahunk8707%3Aplaylist%3A5b7UIdwcsZREKTsrxg2LsC" width="250" height="300" frameborder="0" allowtransparency="true"></iframe>
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ahunk8707%3Aplaylist%3A4Fj60HtvSXNaqzmucuNcn3" width="250" height="300" frameborder="0" allowtransparency="true"></iframe>
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ahunk8707%3Aplaylist%3A4mjppNJalAiwTnJIyqpxI2" width="250" height="300" frameborder="0" allowtransparency="true"></iframe>
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ahunk8707%3Aplaylist%3A0CqaXIxywdq2f9AceKZoZS" width="250" height="300" frameborder="0" allowtransparency="true"></iframe>

<table>
<thead>
<tr>
	<th><img width="100%" src="/assets/events.jpg" alt="Logo">
</th>
</tr>
</thead>
</table>

<table>
<thead>
<tr>
	<th>
	  <style>
  p {font-size: 20px; text-align: justify; margin-top: 20px;}
</style>
	 <p>La agenda se ha activado a mil revoluciones por minuto. ¿Resultado? Tenemos en la reserva un evento exclusivo para cualquier situacion, un karaoke para poner a prueba sus tímpanos, un afterwork exclusivo para chicos que buscan chicas ¿Decías que no tenías plan a la vista…?.</p>
	 </th>
</tr>
</thead>
</table>
