<html>
  <head>
    
  </head>
  <body>
    <div><a href=/models/sign_in.html>Iniciar Sesión</a></div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>

  </ol>

  <!-- Wrapper for slides -->

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "karaoke_01.jpg", html: { alt: "karaoke_01" } %>
      <div class="carousel-caption">
        <h3>Descubre el artista que llevas dentro</h3>
        <p>los Hits del momento</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "karaoke_02.jpg", html: { alt: "karaoke_02" } %>
      <div class="carousel-caption">
        <h3>Elegantes Salas</h3>
        <p>Elige la sala que mas se acomode a tu preferencia</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "karaoke_03.jpg", html: { alt: "karaoke_03" }%>
      <div class="carousel-caption">
       <h3>Diviérte con tus amigos sin parar</h3>
        <p>Diversión Garantizada</p>
      </div>
    </div>
  </div>

  <!-- Controls -->

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

    <span class="sr-only">Previous</span>

  </a>

  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    <span class="sr-only">Next</span>

  </a>

</div>
  </body>
</html>