<h1>Salas Premium</h1>
<a href="/">Home</a>
<table>
<thead>
<tr>
	<th><img src="/assets/salas_premium.jpg" alt="Logo">
</th>
</tr>
</thead>
</table>

<table>
<thead>
<tr>
	<th>
	  <style>
  p {font-size: 20px; text-align: justify; margin-top: 20px;}
</style>
	 <p>Nuestra sala premium es un nuevo concepto en entretenimiento. Sus salas están pensadas para brindar el máximo confort. Sus espacios amplios entre butacas, sus mesas de apoyo, un lobby diferencial para reducir los tiempos de espera y un Restó con una oferta gastronómica variada y especial, hacen que estas nuevas salas sean el mejor lugar para disfrutar del entretenimiento en familia o con amigos.</p>
	 
	 <p>Las salas disponen de amplias butacas reclinables a 60 grados, con apoya pies y apoya cabezas, y un botón lateral para solicitar la atención de nuestros mozos dentro de la sala. A su vez, disponen de pequeñas mesas para disfrutar cómodamente de la propuesta gastronómica elegida.</p>
	 </th>
</tr>
</thead>
</table>



