<h1>Salas Privadas</h1>
<a href="/">Inicio</a>

<table>
<thead>
<tr>
	<th><img src="/assets/salas_privadas.jpg" alt="Logo">
</th>
</tr>
</thead>
</table>

<table>
<thead>
<tr>
	<th>
	  <style>
  p {font-size: 20px; text-align: justify; margin-top: 20px;}
</style>
	 <p>Celebra tu cumpleaños o aniversario, junto a tus amistades o familiares, alquilando uno de nuestros espectaculares locales totalmente equipados, para celebraciones de fiestas y eventos privados, con servicio personalizado de camareros y seguridad, sonido con cabina dj y karaoke, pantallas para reproducir imágenes.
</p>
	 </th>
</tr>
</thead>
</table>