<!DOCTYPE html>
<html>
  <head>
    <style>
      nav {
        width: 910px;
        height: 94px;
      }
    </style>
  </head>
<body>
  <h1>Reservas</h1>
  <p>Por favor ingrese los datos</p>

  <!--<a href="/"><img src="/assets/reservas.jpg" alt="Logo"></a>

  <img src="/assets/reservas.jpg" alt="Logo">-->
  <!-- empieza Reservas -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">Listado de Ordenes</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/orders">Ordenes</a></li>
        </ul>
      </div>
    </div>
    Reserve <a href="/orders"><b>aquí</b></a>
  </nav>


<!-- empieza comida -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">Algo de comer?</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/foods">Piqueos</a></li>
        </ul>
      </div>
    </div>
    Pide <a href="/foods"><b>aquí</b></a>
  </nav>


<footer>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>