<body background="/assets/reserva.jpg" background-repeat: no-repeat aling="centre">
<html>
  <head>
    <style>
      nav {
        width: 910px;
        height: 94px;
      }
    </style>
  </head>
<body>
  <h1>Reservas</h1>

  <!-- empieza Reservas -->

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-target=".navbar-collapse">
        </button>
        <a class="navbar-brand">Reservas de salas:</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <a class="navbar-brand" href="/orders"><u>Reservar</u></a>
        </ul>
      </div>
    </div>

  <!--  antiguo cuadro de reservas 
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

        </button>
        <a class="navbar-brand" href="">Reservas de salas:</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/orders">Reservar</a></li>
        </ul>
      </div>
    </div>
    Reserve <a href="/orders"><b>aquí</b></a>
  </nav>-->


<!-- empieza comida -->

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-target=".navbar-collapse">
        </button>
        <a class="navbar-brand">Pedidos de comida:</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <a class="navbar-brand" href="/foods"><u>Pedir</u></a>
        </ul>
      </div>
    </div>

<!-- empieza eventos -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-target=".navbar-collapse">
        </button>
        <a class="navbar-brand">Reserva de eventos:</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <a class="navbar-brand" href="/eventos"><u>Reservar</u></a>
        </ul>
      </div>
    </div>

<!--  antiguo cuadro de pedido 
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        </button>
        <a class="navbar-brand" href="">Pedidos de comida: </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/foods">Pedir</a></li>
        </ul>
      </div>
    </div>
    Pide <a href="/foods"><b>aquí</b></a>
  </nav>
-->

<footer>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>